.App-header{
  list-style-type: none;
  font-weight:bold;
    background-color: #333333;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App {
  text-align: center;
}

.App-dark {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #333333;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-header li {
  float: left;
  background-color: #333333;
}

.App-header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.App-header li a:hover {
  background-color: #111111;
}

.App-link {
  color: #09d3ac;
}

