.NotificationContainer {
   padding-bottom: 10pt;
}

.Notification {
   padding-top: 10pt;
   padding-bottom: 10pt;
   text-align: center;
   font-weight:bold;
   font-size: calc(10px + 2vmin);
   color: white;
   background-color: #333333;
}

.NotificationEmpty {
   padding: 1%;
   text-align: center;
   font-weight:bold;
   font-size: calc(10px + 2vmin);
   color: white;
    background-color: #333333;
}

.NotificationWarning {
	padding: 1%;
   text-align: center;
   font-weight:bold;
   font-size: calc(10px + 2vmin);
   color: white;
    background-color: #DD3333;
}
.NotificationInfo {
	padding: 1%;
   text-align: center;
   font-weight:bold;
   font-size: calc(10px + 2vmin);
   color: white;
    background-color: #33DD33;
}