.EntriesListTable {
	width: 100%;
	padding-top: 1%;
    display:table;
    text-align: center;
}
.EntriesListTable .header {
    display:table-header-group;
    font-weight:bold;
    background-color: #333333;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 20vh;
}
.EntriesListTable .rowGroup {
    display:table-row-group;
  font-size: calc(10px + 2vmin);
}
.EntriesListTable .rowGroup:hover {
	background: #3333AA;
}
.EntriesListTable .row {
    display:table-row;
}
.EntriesListTable .bigCellName {
    display:table-cell;
    width:30%;
}
.EntriesListTable .bigCellDesc {
    display:table-cell;
    width:50%;
    text-align: left;
}

.EntriesListTable .smallCell {
    display:table-cell;
    width:10%;
}
.EntriesListTable .form {
    display:form-header-group;
    font-weight:bold;
    background-color: #333333;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 20vh;
}

.voteButton {
	 font-weight:bold;
    padding: (40px + 2vmin);
    color: black;
    font-size: 20px;
    background: green;
}

.voteButtonDisabled {
	 font-weight:bold;
    padding: (40px + 2vmin);
    color: black;
    font-size: 20px;
    background: grey;
}

.TrackListViewButton {
    font-weight:bold;
    padding: (40px + 2vmin);
    color: black;
    font-size: 20px;
    background: green;
}
