.EntryForm {
	 display: table;
	 width: 100%;
    font-weight:bold;
    font-size: calc(10px + 2vmin);
    color: black;
}

.EntryForm form label {
    font-weight:bold;
    padding: 10px;
    color: black;
}

.EntryForm form input {
    margin: 10px;
    padding: 10px;
    color: black;
}

.EntryFormButton {
    font-weight:bold;
    padding: (40px + 2vmin);
    color: black;
    font-size: 20px;
    background: green;
}

.EntryFormButtonDisabled {
    font-weight:bold;
    padding: (40px + 2vmin);
    font-size: 20px;
    background: grey;
}