.TrackForm {
   display: table;
   width: 100%;
    font-weight:bold;
    font-size: calc(10px + 2vmin);
    margin-bottom: 20px;
}

.TrackForm form label {
    font-weight:bold;
    padding: 10px;
    color: #ff00ff;
}

.TrackForm form input {
    margin: 10px;
    padding: 10px;
}

.TrackFormButton {
    font-weight:bold;
    padding: (40px + 2vmin);
    font-size: 20px;
    background: green;
    color: white;
    border-radius: 12px;
}

.TrackFormButtonDisabled {
    font-weight:bold;
    padding: (40px + 2vmin);
    font-size: 20px;
    background: grey;
border-radius: 12px;
}
